/* .experience {
    background: var(--bg-color);
  } */
  
  .experience h2 {
    margin-bottom: 4rem;
  }
  
  /* .experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  } */
  
  .experience-box {
    flex: 1 1 30rem;
    /* background: var(--second-bg-color); */
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    /* border: .2rem solid var(--bg-color); */
    transition: .5s ease;
  }
  
  .experience-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
  }
  
  .experience-box h3 {
    font-size: 2.6rem;
    color: var(--main-color);
  }
  
  .experience-box h4 {
    font-size: 2rem;
    margin: 1rem 0;
    color: var(--color-gray);
  }
  
  .experience-box p {
    font-size: 1.6rem;
    margin-top: 1rem;
  }
  
  @media (max-width: 617px) {
    .experience-container {
      flex-direction: column;
    }
  }
  
  .experience h2 span {
    position: relative;
    display: inline-block;
    pointer-events: none;
  }
  
  .experience h2 span::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 0;
    background: linear-gradient(90deg,#ffcc00, transparent);
    transition: width 0.4s ease;
    -webkit-transition: width 0.4s ease;
    -moz-transition: width 0.4s ease;
    -ms-transition: width 0.4s ease;
    -o-transition: width 0.4s ease;
  
  }
  
  .experience h2:hover span::after {
    width: 100%;
    
  }

  .experience-container {
    padding: 2.5rem;
    transform-style: preserve-3d;
    background: rgba(20, 20, 20, 0.6);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(14, 255, 255, 0.15);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
  }
  
  .experience-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 0%,
      rgba(14, 255, 255, 0.2),
      transparent 70%);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 1.5rem;
  }
  
  .experience-container:hover::before {
    opacity: 1;
  }
  
  .experience-container:hover {
    border-radius: 50px;
    transform: translateY(-8px) scale(1.03);
    border-color: var(--main-color);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2),                inset 0 0 30px rgba(14, 255, 255, 0.15);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}







